<section class="container">
    <div class="row">
        <div class="col-12 p-3">
            <app-filtros></app-filtros>
            <div class="col-12 p-3">
                <!--listado posts-->
                <div class="row">
                    <article class="col-6 col-md-4 m-3 card-body border border-1" *ngFor="let post of arrPosts">
                              <h5 class="card-title">{{post?.titulo}}</h5>
                              <p class="card-text">{{post?.categoria}}</p>
                              <p class="card-text">{{post?.autor}}</p>
                              <a [routerLink]="['/post', post?.id]" class="btn btn-primary">Ver post</a>
                            
                         
                        
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>